/*Variables*/
:root {
  /*basic*/
  --black: #000000;
  --black-blue:  #293449;
  --blacken-blue: #1D2739;
  --dark-blue: #32425C;
  --grey: #C5C5C5;
  --grey-hover: rgba(197, 197, 197, 0.3);
  --grey-focus: rgba(197, 197, 197, 0.6);
  --dark-red: #BA2732;
  --red-darken: #CA2C37;
  --red: #EE3643;
  --dark-yellow: #FFC047;
  --middle-yellow: #ffbf47;
  --white-yellow: #FFD180;
  --turquoise: #3BBCE3;
  --white-purple: #DC91D8;
  --basic-dark-green: #63A63E;
  --hover-green: #5FBB2D;
  --focus-green: #518534;
  --white-green: #8ED78F;
  --blue: #F2F6F8;
  --dark-pink: #F7F3EC;
  --grey-pink:  #F9F5F0;
  --white-blue: #F1F5F7;
  --white: #FFFFFF;
  --white-a03:  rgba(255, 255, 255, 0.3);
  --focus-white: rgba(255, 255, 255, 0.5);



  /*special*/
  --white-grey: #F4F4F4;
}

.page {
  width: 1200px;
  margin: 0 auto;
  padding: 0px;
  background-color: var(--grey);
  box-sizing: border-box;
}

/*-------body-------*/
.page_body {
  min-height: 100%;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  text-transform: none;
  background-color: var(--white);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.visually_hidden {
  height: 0px;
  visibility: hidden;
}

/*-------header-------*/
.main_header {
  background-color: var(--blue);
  margin-bottom: 70px;
}

.main_header_top {
  background-color: var(--black-blue);
 }

 .header_top {
  min-width: 940px ;
  height: 45px;
  margin: 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 5px solid rgba(255, 0, 0);
  outline-offset: -5px; */

 }

.header_top_item {
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--black-blue);
}

.logo {/*лого будет переделано на символы*/
  padding: 10px 55px;
  color: var(--white);
  background-color: var(--red);
  border-bottom: 5px solid var(--dark-red);
 }

.logo:focus {
   background-color: var(--dark-red);
 }


.header_search {
  padding-right: 200px;
 }

.header_search:focus {
/*Здесь будет поле формы*/
}

.header_checkout {
  color: var(--white);
  background-color: var(--basic-dark-green);
}

.header_checkout:hover {
  background-color: var(--hover-green);
}

.header_top_item:focus:not(.header_search) {
  color: var(--focus-white);
}

.container {
  min-width: 940px ;
  height: 150px;
  margin: 0 130px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header_middle_item {
  margin-top: 50px;
}

.header_desc {
  font-style: italic;
  font-size: 16px;
  color: var(--red);
  text-align: left;
  margin-left: 30px;
  padding-left: 0px;
}

.header_phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  border: 2px solid var(--white);
  padding: 5px 45px;
}

.header_address {
  font-size: 14px;
  color: var(--dark-blue);
  margin-top: 0px;
  padding-top: 5px;
}

.login_link, .check_in {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 25px;
  margin-left: 10px;
}

.login_link:hover,
.check_in:hover {
  color: var(--red);
}

.login_link:focus,
.check_in:focus {
  color: var(--grey);
}

.my_orders,.personal_area {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
}

.my_orders:hover,
.personal_area:hover {
  color: var(--red);
}

.my_orders:focus,
.personal_area:focus,
.authorized_user:focus {
  color: var(--grey);
}

.main_header_bottom {
  height: 120px;
}

.navigation_list {
  width: 940px ;
  height: 60px;
  margin: 0 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
  border-bottom: 5px solid var(--blacken-blue);
}

.navigation_list:first-child {
  padding: 0px;
}

.navigation_item a {
  color: var(--white);
  background-color: var(--dark-blue);
}

.navigation_item a:hover {
  background-color: var(--black-blue);
}

.navigation_item a:focus {
  background-color: var(--blacken-blue);
  opacity: 0.5;
}

/*-------main-section promo-------*/
.promo {
  width: 940px ;
  margin: 0 130px;
}

.promo_list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px 20px;
  padding: 0;
}
.promo_list :last-child {
  grid-row-start: 2;
  grid-row-end: 3;
}

.promo_list :nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.promo_list :nth-child(5) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.materials {
  background-color: var(--middle-yellow);
}

.promo_item_text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.promo_item_button {
  background-color: var(--white-a03);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  border: none;
}

.promo_item_button:hover {
  background-color: var(--grey-hover);
}

.promo_item_button:focus {
  background-color: var(--grey-focus);
}

.instruments {
  background-color: var(--turquoise);
}
.technics {
  background-color: var(--white-purple);
}

.discount {
  background-color: var(--white-green);
}

.delivery {
  background-color: var(--middle-yellow);
}

.promo_list :nth-child(6) {
  width: 620px;
  height: 266px;
  background-image: url(/img/man-big-perf.jpg);
  background-color: var(--black);
}

.slaider_perforators_title {
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
  text-transform: uppercase;
}

.slaider_perforators_text {
  color: var(--white);
}

.button_red {
  color: var(--white);
  background-color: var(--red);
  text-transform: uppercase;
}

.button_open_catalog:hover {
  background-color: var(--red-darken);
}

.button_open_catalog:focus {
  background-color: var(--dark-red);
}


/*-------main-section-popular_products-------*/
.popular_products {
  background-color: var(--white);
}

.section_title_line {
  background-color: var(--grey-pink);
}

.section_title_line_text {
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.product_item_title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.product_item_old_price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--grey);
}

.product_item_new_price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

/*-------main-section-popular_producers-------*/
.popular_producers {
  background-color: var(--white);
}

/*-------main-section-services-------*/
.services {
  background-color: var(--white-blue);
}

.services_title_text {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.services_text {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  }

.services_slider_item {
  color: var(--dark-blue);
}

.services_slider_button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

/*-------main-section-contacts-------*/
.contacts {
  background-color: var(--white);
}

.contacts_title_block {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

/*-------catalog-main-section-bread_crumbs------*/
.bread_crumbs {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black);
}

.catalog_div_color_line {
  background-color: var(--blue);
}

.catalog_div_color_line_text {
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
}

.catalog_page {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
}

.catalog_article {
  background-color: var(--white-blue);
}

.catalog_article h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
}

.catalog_article p {
  font-size: 13px;
  line-height: 24px;
}

/*-------footer-section-footer-top-------*/
.main_footer {
  background-color: var(--dark-blue);
}

.footer_top_one, .footer_top_two {
  outline: 5px solid red;
  min-width: 940px ;
  height: 90px;
  background-color: var(--dark-blue);
  margin: 0 130px;
}

.footer_top_logo {
  width: 220px;
  height: 70px;
  background-color: var(--red);
  display: block;
  text-align: left;
  float: left;
  /* padding: 20px 40px; */
}

.footer_top_container {
  outline: 5px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  padding-top: 35px;
}

.footer_top_one_item a {
  color: var(--white-blue);

}

.hover_underline a:hover {
  text-decoration: underline;
}

.hover_underline a:focus {
  opacity: 0.5;
  text-decoration: none;
}

.footer_top_two_item a {
  color: var(--white-yellow);
}

.footer_top_two_address {
  color: var(--white-blue);
  display: block;
  text-align: left;
  float: left;
}

.footer_bottom {
  background-color: var(--black-blue);
  outline: 5px solid red;
  min-width: 940px ;
  height: 90px;
  margin: 0 130px;
}

.footer_copyright p,
.footer_reference p {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.footer_reference a {
  color: var(--white-yellow);
}

.footer_reference a:focus {
  color: var(--red);
}

